@media (min-width: 1000px) {
    .article-section {
      padding: 2rem; /* Change this value to the desired padding amount */
    }
  }

  @media (max-width: 1000px) {
    .article-section {
      padding: 1rem; /* Change this value to the desired padding amount */
    }
  }

  @media (min-width: 1000px) {
    .article-image {
      padding-right: 3rem; /* Change this value to the desired padding amount */
      padding-left: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 1000px) {
    .article-image {
      padding: 0.5rem; /* Change this value to the desired padding amount */
    }
  }

.list-group-item {
    background-color: #212529;
    border: 0;
    color: white;
}

.list-group-item.active {
    background-color: black;
    border: 0;
    color: white;
}

code {
    border-radius: 8px;
}