<div class="px-4 py-5  text-center"
    style="background-image: url('/assets/images/background.jpg');
            background-attachment: fixed;
            background-size: cover;">
    <div class="container p-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <span class="fs-2 text-white px-2">Role base auth system with cognito user pools and JWTs</span>
            </a>
        </header>
    </div>
</div>
<div class="container pt-4">
    <div class="row">   
        <div class="col-md-3">
            <div class="position-sticky mb-4" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic text-white">Recent posts</h4>
                    <div id="list-example" class="list-group text-bg-dark">
                        <a class="list-group-item list-group-item-action" href="#overview">overview</a>
                        <a class="list-group-item list-group-item-action" href="#getting_started">getting started</a>
                        <a class="list-group-item list-group-item-action" href="#cognito-user-pool">cognito user pool</a>
                        <a class="list-group-item list-group-item-action" href="#cognito-user-pool-client">cognito user pool client</a>
                        <a class="list-group-item list-group-item-action" href="#cognito-user-pool-groups">cognito user pool groups</a>
                        <a class="list-group-item list-group-item-action" href="#http-api-getway">HTTP API getway</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                    <img src="./assets/icons/social-network.svg" alt="">
                    <span class="fs-4 text-white px-2"> About me</span>
                </a>
            </header>
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <div id="overview" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Overview</h3>
                        <p class="col-md-12 fs-5">
                            Amazon Cognito User Pools is a fully managed use
                            directory service provided by Amazon Web Services (AWS),
                            it allows you to easily implement user authentication
                            and management functionalities in their applications
                            without having to build and maintain a custom user directory
                            system. This service is also highly customizable, a property
                            that we will explore in this post by implementing an
                            authorization system based on JWTs and builted with Cognito
                            User Pools, as follows:
                        </p>
                        <img
                            class="pb-3"
                            src="assets/images/cognito-auth-jwt-roles.png"
                            width="100%"
                            style="border-radius: 8px;"
                        >
                        <p class="col-md-12 fs-5">In order to deploy the previus arquitecture a Cognito User Pool,
                            a Cognito User Client, an Http API getway, and a Pre-Token lamba
                            trigger are required, a built proccess that will be explored next.
                        </p>
                        <p class="col-md-12 fs-5">
                            In case you want to avoid using Cloud Formation or the serverless
                            framework you can refer to <a href="https://aws.amazon.com/es/blogs/mobile/how-to-use-cognito-pre-token-generators-to-customize-claims-in-id-tokens/">this</a>
                            guide that use the AWS website platform.
                        </p>
                    </div>
                </div>
                <div id="getting_started" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Getting started</h3>
                        <p class="col-md-12 fs-5">
                            To begin we need to establish a developer environment that connect
                            with AWS in the cloud, in order to do this we will need to
                            configure the AWS credentials, a process that you can complete following
                            <a href="">this</a> guide.
                        </p>
                        <p class="col-md-12 fs-5">
                            Next we will need to install Serverless Framework via NPM as follows:
                        </p>
                        <pre><code [highlight]="code" [languages]="['npm']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p class="col-md-12 fs-5">
                            To create your first project (known as a Serverless Framework "Service"),
                            run the serverless command below, then follow the prompts.
                        </p>
                        <pre><code [highlight]="code1" [languages]="['npm']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p class="col-md-12 fs-5">
                            Once the project is successfully created you should have the following
                            directory tree in your project folder:
                        </p>
                        <pre><code [highlight]="code2" [languages]="['npm']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p class="col-md-12 fs-5">
                            And the following content in the <i>serverless.yml</i> file
                        </p>
                        <pre><code [highlight]="code3" [languages]="['yaml']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                    </div>
                </div>
                <div id="cognito-user-pool" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Cognito User Pool</h3>
                        <p class="col-md-12 fs-5">
                            After the correct initialization of the project we can define a 
                            Cognito User Pool resource in the resources section of the 
                            serverless.yml file, as follow:
                        </p>
                        <pre><code [highlight]="code4" [languages]="['yaml']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p class="col-md-12 fs-5">
                            In this case and using the <i>UsernameAttributes</i> parameter
                            we define a Cognito User Pool with the email parameter as username,
                            in addition to this and using the <i>AutoVerifiedAttributes</i> parameter we establish
                            that the user email will be validated by AWS sending an otp message through
                            the SMS service, massage that can be customized by the <i>EmailVerificationMessage</i>
                            and <i>EmailVerificationSubject</i> parameters, and lastly the password policy can be adjusted
                            to  the necessities of your projects using the <i>PasswordPolicy</i> parameter, keep in mind that
                            a strong password policy that validates a minimun of 8 characters, an uppercase letter,
                            a lowercase letter, a number and a special character is recommend and encouraged.

                            To see more details about the Cognito User Pool parameters you can check the oficial documentation
                            <a href="">here</a>

                        </p>
                    </div>
                </div>
                <div id="cognito-user-pool-client" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Cognito User Client</h3>
                        <p class="col-md-12 fs-5">
                            Once the Cognito User Pool is defined, we need a service
                            that integrates with the user pool to authenticate and authorize user.
                            this entity is called Cognito User Client and facilitates the
                            communication process by enabling the application to 
                            perform the complexity of user management to AWS. this service can be
                            defined as follows:
                        </p>
                        <pre><code [highlight]="code5" [languages]="['yaml']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                        <p class="col-md-12 fs-5">
                            Using the previus code and the <i>UserPoolId</i> parameter we can
                            relate the Cognito User Pool definition and the Cognito User Client definition.
                            Also we can define the redirection urls for the completition of the registry
                            flow and the logout flow using the parameters <i>CallbackURLs</i> and the 
                            <i>LogoutURLs</i> respectively, take into consideration that this urls 
                            do not need to aim to a valid url, in this case we will use the www.google.com route
                            as the redirection route in both cases but you can use your own.
                        </p>
                        <p class="col-md-12 fs-5">
                            In the same way we can add the <i>ALLOW_USER_SRP_AUTH</i> value
                            to the <i>ExplicitAuthFlows</i> parameter to establish a secure way to sign in by 
                            providing the username and password. Using this flow the user's password is never 
                            transmitted over the network, ensuring that it remains secure even if the 
                            communication channel is compromised, as well we can add the 
                            <i>ALLOW_REFRESH_TOKEN_AUTH</i> value to enable authflow refresh tokens.
                        </p>
                        <p class="col-md-12 fs-5">
                            There are so many parameters in this definition that it becomes difficult 
                            to cover them all in this publication but we invite the reader to check the 
                            oficial documentation where each and every one are descrived, <a href="">here</a>
                        </p>
                    </div>
                </div>
                <div id="cognito-user-pool-groups" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Cognito User Groups</h3>
                        <p class="col-md-12 fs-5">
                            Next we need to define the Cognito User Groups to
                            categorize users and assining role based permissions
                            to them, in this case, and in behalf of simplicity,
                            we will divide the users in just two categories, admin users
                            and regular users, so we need to define two Cognito Users Pools
                            as follows: 
                        </p>
                        <pre><code [highlight]="code6" [languages]="['yaml']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                    </div>
                </div>
                <div id="htt-api-getway" class="px-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>Cognito User Groups</h3>
                        <p class="col-md-12 fs-5">
                            Next we need to define the Cognito User Groups to
                            categorize users and assining role based permissions
                            to them, in this case, and in behalf of simplicity,
                            we will divide the users in just two categories, admin users
                            and regular users, so we need to define two Cognito Users Pools
                            as follows: 
                        </p>
                        <pre><code [highlight]="code6" [languages]="['yaml']" (highlighted)="onHighlight($event)" [lineNumbers]="true"></code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>