<div class="px-4 py-5  text-center"
    style="background-image: url('/assets/images/background.jpg');
            background-attachment: fixed;
            background-size: cover;">
    <div class="container p-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <span class="fs-2 text-white px-2">Role base auth system with cognito user pools and JWTs</span>
            </a>
        </header>
    </div>
</div>
<div class="container pt-4">
    <div class="row">   
        <div class="col-md-3">
            <div class="position-sticky mb-4" style="top: 2rem;">
                <div>
                    <h4 class="fst-italic text-white">Recent posts</h4>
                    <div id="list-example" class="list-group text-bg-dark">
                        <a class="list-group-item list-group-item-action" href="#overview">overview</a>
                        <a class="list-group-item list-group-item-action" href="#getting_started">getting started</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                        <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                    <img src="./assets/icons/social-network.svg" alt="">
                    <span class="fs-4 text-white px-2"> About me</span>
                </a>
            </header>
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <div id="overview" class="p-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>I'm a Software Developer</h3>
                        <p class="col-md-12 fs-5">
                            passionate and skilled in backend software development. With a strong foundation
                            in Python programming and a knack for problem-solving, I thrive in designing
                            and implementing robust solutions to complex technical challenges.
                        </p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>
                <div id="getting_started" class="p-5 mb-3 rounded-3 text-bg-dark">
                    <div class="container-fluid py-5 ">
                        <h3>I'm a Software Developer</h3>
                        <p class="col-md-12 fs-5">
                            passionate and skilled in backend software development. With a strong foundation
                            in Python programming and a knack for problem-solving, I thrive in designing
                            and implementing robust solutions to complex technical challenges.
                        </p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>