<div class="container pt-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="./assets/icons/social-network.svg" alt="">
            <span class="fs-4 text-white px-2"> About me</span>
        </a>
    </header>
    <div class="row featurette">
        <div class="col-md-7">
            <div class="p-5 mb-4 rounded-3 text-bg-dark h-100">
                <div class="container-fluid py-5 ">
                    <h1 class="display-5 fw-bold">I'm a Software Developer</h1>
                    <p class="col-md-8 fs-4">
                        passionate and skilled in backend software development. With a strong foundation
                        in Python programming and a knack for problem-solving
                    </p>
                    <button class="btn btn-primary btn-lg" type="button">Example button</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('/assets/images/background.jpg');
                background-attachment: fixed;
                background-size:cover;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                </div>
            </div>
            <!-- <img class="h-100" src="/assets/images/background.jpg" width="100%" alt=""> -->
        </div>
    </div>

    <hr class="featurette-divider">
</div>