<div class="container pt-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="./assets/icons/social-network.svg" alt="">
            <span class="fs-4 text-white px-2"> About me</span>
        </a>
    </header>

    <div class="p-5 mb-4 rounded-3 text-bg-dark">
        <div class="container-fluid py-5 ">
            <h1 class="display-5 fw-bold">I'm a Software Developer</h1>
            <p class="col-md-8 fs-4">
                passionate and skilled in backend software development. With a strong foundation
                in Python programming and a knack for problem-solving, I thrive in designing
                and implementing robust solutions to complex technical challenges.
            </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6 mb-3">
            <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Change the background</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the
                                jumbotron look.
                                Then, mix and match with additional component themes and more.</p>
                            <button class="btn btn-outline-light" type="button">Example button</button>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Change the background</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the
                                jumbotron look.
                                Then, mix and match with additional component themes and more.</p>
                            <button class="btn btn-outline-light" type="button">Example button</button>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Change the background</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the
                                jumbotron look.
                                Then, mix and match with additional component themes and more.</p>
                            <button class="btn btn-outline-light" type="button">Example button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <img src="/assets/images/entry.png" width="80" alt="">
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>[PCEP-30-01] PCEP</b> – Certified Entry-Level Python Programming.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <img src="/assets/images/associate.png" width="80" alt="">
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>[PCAP-31-03] PCAP</b> – Certified Associate in Python Programming
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <img src="/assets/images/professional.png" width="80" alt="">
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>[PCPP-32]</b> PCPP1 – Certified Professional in Python Programming 1
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <img src="/assets/images/aws-practicioner.png" width="80" alt="">
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>AWS Certified Cloud Practitioner</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>