<div class="container pt-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <img src="./assets/icons/social-network.svg" alt="">
            <span class="fs-4 text-white px-2"> About me</span>
        </a>
    </header>

    <div class="p-5 mb-4 rounded-3 text-bg-dark">
        <div class="container-fluid py-5 ">
            <h1 class="display-5 fw-bold">I'm a Software Developer</h1>
            <p class="col-md-8 fs-4">
                passionate and skilled in backend software development. With a strong foundation
                in Python programming and a knack for problem-solving, I thrive in designing
                and implementing robust solutions to complex technical challenges.
            </p>
            <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6 mb-3">
            <div id="carouselExampleIndicators" class="carousel slide h-100" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>PANTOU INTELLIGENCE BUSINESS</h2>
                            <p><i>JUL 2021 - NOW</i></p>
                            <p class="col-md-12 fs-5">
                                I worked in a fintech solution project
                                that uses API integrations with financial
                                data collection companies, Cloud arquitecture
                                and IA solutions to validate and categorize users 
                                identities with the aim of generate a customize 
                                credit that can be used as a valid payment option 
                                for online purchases. 
                                </p>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>OPTIME CONSULTING</h2>
                            <p><i>SEP 2020 – JUN 2021</i></p>
                            <p class="col-md-12 fs-5">
                                I worked as a backend developer and 
                                database designer on an education project focused on
                                companies; that present personalized virtual
                                events through a software that allowed the
                                offering of prizes based on the user's
                                performance in said meetings. ensuring optimized
                                solutions and best practice development
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>BOOKOROOMS</h2>
                            <p><i>JUN 2019 – MAR 2020</i></p>
                            <p class="col-md-12 fs-5">
                                I worked in the development area of a tourism
                                company maintaining and optimizing the
                                collection and processing of the necessary
                                data to present the best tourism options in
                                hotels and vacation plans depending on the
                                user's preferences.</p>
                        </div>
                    </div>
                    <div class="carousel-item h-100">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>SOFTONICA</h2>
                            <p><i>MAR 2018 – ENE 2019</i></p>
                            <p class="col-md-12 fs-5">
                                I worked with the objective of generating a
                                system capable of automating regulatory
                                compliance on occupational health and
                                safety (OSH).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row" data-masonry='{"percentPosition": true }'>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <svg width="100" height="100" viewBox="-25 -25 250 250" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                            <circle r="90" cx="100" cy="100" fill="transparent" stroke="#e0e0e0" stroke-width="16px"
                                strok-dasharray="565.48px" stroke-dashoffset="0"></circle>
                            <circle r="90" cx="100" cy="100" stroke="#049dff" stroke-width="16px" stroke-linecap="round"
                                stroke-dashoffset="60px" fill="transparent" stroke-dasharray="565.48px"></circle>
                            <text x="71px" y="115px" fill="#049dff" font-size="52px" font-weight="bold"
                                style="transform:rotate(90deg) translate(-20px, -196px)">90%</text>
                        </svg>
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>of expertice in Python</b> as a main programming language for backend development
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <svg width="100" height="100" viewBox="-25 -25 250 250" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                            <circle r="90" cx="100" cy="100" fill="transparent" stroke="#e0e0e0" stroke-width="16px"
                                strok-dasharray="565.48px" stroke-dashoffset="0"></circle>
                            <circle r="90" cx="100" cy="100" stroke="#049dff" stroke-width="16px" stroke-linecap="round"
                                stroke-dashoffset="90.692px" fill="transparent" stroke-dasharray="565.48px"></circle>
                            <text x="71px" y="115px" fill="#049dff" font-size="52px" font-weight="bold"
                                style="transform:rotate(90deg) translate(-20px, -196px)">80%</text>
                        </svg>
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>of expertice in AWS</b> as a cloud infraestructure platform 
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <svg width="100" height="100" viewBox="-25 -25 250 250" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                            <circle r="90" cx="100" cy="100" fill="transparent" stroke="#e0e0e0" stroke-width="16px"
                                strok-dasharray="565.48px" stroke-dashoffset="0"></circle>
                            <circle r="90" cx="100" cy="100" stroke="#049dff" stroke-width="16px" stroke-linecap="round"
                                stroke-dashoffset="90.692px" fill="transparent" stroke-dasharray="565.48px"></circle>
                            <text x="71px" y="115px" fill="#049dff" font-size="52px" font-weight="bold"
                                style="transform:rotate(90deg) translate(-20px, -196px)">80%</text>
                        </svg>
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>of expertice in serveless arquitecture</b> as a model for computing application execution and development
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <div class="card d-flex align-items-center p-3">
                        <svg width="100" height="100" viewBox="-25 -25 250 250" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
                            <circle r="90" cx="100" cy="100" fill="transparent" stroke="#e0e0e0" stroke-width="16px"
                                strok-dasharray="565.48px" stroke-dashoffset="0"></circle>
                            <circle r="90" cx="100" cy="100" stroke="#049dff" stroke-width="16px" stroke-linecap="round"
                                stroke-dashoffset="150.692px" fill="transparent" stroke-dasharray="565.48px"></circle>
                            <text x="71px" y="115px" fill="#049dff" font-size="52px" font-weight="bold"
                                style="transform:rotate(90deg) translate(-20px, -196px)">75%</text>
                        </svg>
                        <p class="blockquote-footer mb-0 text-body-secondary mt-2">
                            <b>of expertice in TDD</b> as a software development methodology for iterative development cycle
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>