<div class="px-4 py-5 my-5 text-center"
    style="background-image: url('/assets/images/background.jpg');
            background-attachment: fixed;
            background-size: cover;">
    <div class="container pt-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="./assets/icons/certificate.svg" alt="">
                <span class="fs-4 text-white px-2"> My certifications</span>
            </a>
        </header>
        <div class="row mx-5" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card d-flex align-items-center p-3 text-bg-dark">
                    <img src="/assets/images/entry.png" width="100" height="100" alt="">
                    <p class="blockquote-footer mb-0 m-3 text-white">
                        <b>[PCEP-30-01] PCEP</b> – Certified Entry-Level Python Programming.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card d-flex align-items-center p-3 text-bg-dark">
                    <img src="/assets/images/associate.png"  width="100" height="100"  alt="">
                    <p class="blockquote-footer mb-0 m-3 text-white">
                        <b>[PCAP-31-03] PCAP</b> – Certified Associate in Python Programming
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card d-flex align-items-center p-3 text-bg-dark">
                    <img src="/assets/images/professional.png"  width="100" height="100"  alt="">
                    <p class="blockquote-footer mb-0 m-3 text-white">
                        <b>[PCPP-32]</b> PCPP1 – Certified Professional in Python Programming 1
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card d-flex align-items-center p-3 text-bg-dark">
                    <img src="/assets/images/aws-practicioner.png"  width="100" height="100"  alt="">
                    <p class="blockquote-footer mb-0 m-3 text-white">
                        <b>AWS Certified Cloud Practitioner</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>