<div class="px-4 py-5 my-5 text-center"
    style="background-image: url('/assets/images/background.jpg');
            background-attachment: fixed;
            background-size: cover;">
    <div class="container pt-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
                <img src="./assets/icons/social-network.svg" alt="">
                <span class="fs-4 text-white px-2"> About me</span>
            </a>
        </header>
        <div class="row d-flex align-items-center">
            <div class="col mb-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg align-items-center py-5"
                    style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-100 text-white text-shadow-1">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <h5>Python</h5>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg align-items-center py-5"
                    style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-100 text-white text-shadow-1">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <h5>AWS</h5>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg align-items-center py-5"
                    style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-100 text-white text-shadow-1">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <h5>Serverless</h5>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg align-items-center py-5"
                    style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-100 text-white text-shadow-1">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <h5>Testing</h5>
                </div>
            </div>
        </div>
    </div>
</div>